In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from food_manager_api.api import Api

In [3]:
import time


api = Api()
api._drop_tables()
api._create_tables()
for i in range(10):
    api.add_food_item(name="apple", quantity=1)
    time.sleep(1)
api.add_food_item(name="apple", quantity=1)
api.get_all_food_items()

2023-12-05 22:35:27.934 | INFO     | food_manager_api.api:__init__:28 - Using database at E:\dev\food-manager\data\db.sqlite3
2023-12-05 22:35:27.942 | INFO     | food_manager_api.db.utils:create_tables:10 - Database tables created
2023-12-05 22:35:27.972 | INFO     | food_manager_api.db.utils:drop_tables:16 - Database tables dropped
2023-12-05 22:35:27.975 | INFO     | food_manager_api.db.utils:create_tables:10 - Database tables created

    id   name  quantity                        date_added
0    1  apple         1  2023-12-05 21:35:27.975924+00:00
1    2  apple         1  2023-12-05 21:35:28.980855+00:00
2    3  apple         1  2023-12-05 21:35:29.994248+00:00
3    4  apple         1  2023-12-05 21:35:31.009036+00:00
4    5  apple         1  2023-12-05 21:35:32.024320+00:00
5    6  apple         1  2023-12-05 21:35:33.038452+00:00
6    7  apple         1  2023-12-05 21:35:34.052918+00:00
7    8  apple         1  2023-12-05 21:35:35.077662+00:00
8    9  apple         1  2023-12-05 21:35:36.092325+00:00
9   10  apple         1  2023-12-05 21:35:37.106883+00:00
10  11  apple         1  2023-12-05 21:35:38.137211+00:00