In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from food_manager.api import Api
from food_manager.db import SessionLocal

In [12]:
session = SessionLocal()

api = Api(session=session)
# api.drop_tables()
# api.create_tables()

api.get_all_food_items()

2023-12-08 14:52:33.182 | INFO     | food_manager.api:get_all_food_items:102 - Retrieved all food items from the database.

   id    name  quantity                        date_added
0  11   apple         5  2023-12-06 13:53:31.236685+00:00
1  12  banana         3  2023-12-06 17:05:28.147906+00:00
2  13    milk        12  2023-12-06 17:42:20.559705+00:00
3  14    pain       100  2023-12-06 17:53:54.430424+00:00

In [4]:
for i in range(10):
    api.add_food_item(name="apple", quantity=i + 1)

api.get_all_food_items()

2023-12-08 14:47:59.150 | INFO     | food_manager.api:add_food_item:36 - Added 1 apple to the database.
2023-12-08 14:47:59.153 | INFO     | food_manager.api:add_food_item:36 - Added 2 apple to the database.
2023-12-08 14:47:59.156 | INFO     | food_manager.api:add_food_item:36 - Added 3 apple to the database.
2023-12-08 14:47:59.158 | INFO     | food_manager.api:add_food_item:36 - Added 4 apple to the database.
2023-12-08 14:47:59.161 | INFO     | food_manager.api:add_food_item:36 - Added 5 apple to the database.
2023-12-08 14:47:59.164 | INFO     | food_manager.api:add_food_item:36 - Added 6 apple to the database.
2023-12-08 14:47:59.166 | INFO     | food_manager.api:add_food_item:36 - Added 7 apple to the database.
2023-12-08 14:47:59.168 | INFO     | food_manager.api:add_food_item:36 - Added 8 apple to the database.
2023-12-08 14:47:59.171 | INFO     | food_manager.api:add_food_item:36 - Added 9 apple to the database.
2023-12-08 14:47:59.173 | INFO     | food_manager.api:add_food_item:36 - Added 10 apple to the database.
2023-12-08 14:47:59.176 | INFO     | food_manager.api:get_all_food_items:101 - Retrieved all food items from the database.

    id    name  quantity                        date_added
0   11   apple         5  2023-12-06 13:53:31.236685+00:00
1   12  banana         3  2023-12-06 17:05:28.147906+00:00
2   13    milk        12  2023-12-06 17:42:20.559705+00:00
3   14    pain         3  2023-12-06 17:53:54.430424+00:00
4   15   apple         1  2023-12-08 13:47:59.123244+00:00
5   16   apple         2  2023-12-08 13:47:59.151808+00:00
6   17   apple         3  2023-12-08 13:47:59.153808+00:00
7   18   apple         4  2023-12-08 13:47:59.156808+00:00
8   19   apple         5  2023-12-08 13:47:59.159808+00:00
9   20   apple         6  2023-12-08 13:47:59.161811+00:00
10  21   apple         7  2023-12-08 13:47:59.164812+00:00
11  22   apple         8  2023-12-08 13:47:59.166811+00:00
12  23   apple         9  2023-12-08 13:47:59.169812+00:00
13  24   apple        10  2023-12-08 13:47:59.171811+00:00

In [13]:
api.get_all_food_items()

2023-12-08 14:52:36.945 | INFO     | food_manager.api:get_all_food_items:102 - Retrieved all food items from the database.

   id    name  quantity                        date_added
0  11   apple         5  2023-12-06 13:53:31.236685+00:00
1  12  banana         3  2023-12-06 17:05:28.147906+00:00
2  13    milk        12  2023-12-06 17:42:20.559705+00:00
3  14    pain       100  2023-12-06 17:53:54.430424+00:00

In [15]:
from food_manager.schema.food_item import FoodItem

api.update_food_item_quantity(id=14, quantity=10)
api.get_all_food_items()

2023-12-08 14:52:57.754 | INFO     | food_manager.api:update_food_item_quantity:58 - Updated quantity of food item with id 14 to 10.
2023-12-08 14:52:57.757 | INFO     | food_manager.api:get_all_food_items:102 - Retrieved all food items from the database.

   id    name  quantity                        date_added
0  11   apple         5  2023-12-06 13:53:31.236685+00:00
1  12  banana         3  2023-12-06 17:05:28.147906+00:00
2  13    milk        12  2023-12-06 17:42:20.559705+00:00
3  14    pain        10  2023-12-06 17:53:54.430424+00:00