In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from food_manager.api import Api
from food_manager.db import SessionLocal

In [3]:
session = SessionLocal()

api = Api(session=session)
api.drop_tables()
api.create_tables()

for i in range(10):
    api.add_food_item(name="apple", quantity=1)
api.add_food_item(name="apple", quantity=5)

api.get_all_food_items()

    id   name  quantity                        date_added
0    1  apple         1  2023-12-06 13:53:31.213061+00:00
1    2  apple         1  2023-12-06 13:53:31.216570+00:00
2    3  apple         1  2023-12-06 13:53:31.219570+00:00
3    4  apple         1  2023-12-06 13:53:31.221572+00:00
4    5  apple         1  2023-12-06 13:53:31.224574+00:00
5    6  apple         1  2023-12-06 13:53:31.226813+00:00
6    7  apple         1  2023-12-06 13:53:31.228816+00:00
7    8  apple         1  2023-12-06 13:53:31.230509+00:00
8    9  apple         1  2023-12-06 13:53:31.232514+00:00
9   10  apple         1  2023-12-06 13:53:31.234514+00:00
10  11  apple         5  2023-12-06 13:53:31.236685+00:00